* {
    box-sizing: border-box;
}

body {
    font-family: 'Josefin Sans', sans-serif;
    background-color: #141111;
    color: #f1f5f3;
}

/* Typography */
main {
    margin: 1.5rem;
    line-height: 1.6;
}

h1 {
    font-size: 3rem;
    line-height: 1.1;
    margin: 0 0 1rem;
    font-weight: 500;
}

h2 {
    line-height: 2.3rem;
    margin: 0 0 1rem;
    font-weight: 400;
}

h3 {
    font-size: 1.3rem;
    margin: auto;
}

p {
    font-size: 1.2rem;
    margin: auto;
}

#wrapper {
    margin: 0.7rem;
    text-transform: lowercase;
}

/* Header */
.hr-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 6rem;
    margin: 1.5rem;
}

/* Navigation */
.hr-nav .nav-container {
    overflow: auto;
    white-space: nowrap;
    overflow-x: auto;
    max-width: 48em;
    margin: 1rem;
    text-align: center;
}

.hr-nav .nav-item {
    font-size: 1.5rem;
    font-weight: 600;
    display: inline-block;
    padding: 0.7rem 0.8rem;
    text-decoration: none;
    color: #f1f5f3;
}

/* Contact Form */
form > div {
    clear: both;
    overflow: hidden;
    padding: 1px;
    margin: 0 0 10px 0;
}

form > div > fieldset > div > div {
    margin: 0 0 5px 0;
}

form > div > fieldset label {
    font-size: 90%;
}

fieldset {
    border: 0;
    padding: 0;
}

@media (max-width: 600px) {

    input[type=text],
    input[type=email],
    textarea {
        width: 100%;
    }
}

/* Gallery */
.gallery {
    display: flex;
    flex-wrap: wrap;
}

.column {
    flex: 33.3%;
    max-width: 33.3%;
    padding: 0 1rem;
}

@media screen and (max-width: 600px) {
    .column {
        flex: 100%;
        max-width: 100%;
    }
}

/* Cards */
.card {
    box-shadow: 0 0.7rem 0.7rem 0 rgba(0, 0, 0, 0.5);
    border-radius: .3rem;
    vertical-align: middle;
    margin: 0 0 2rem;
    width: 100%;
    background-color: #171414;
}

.card:hover {
    box-shadow: 0 1rem 1.5rem 0 rgba(0, 0, 0, 0.5);
    transition: 0.3s;
}

.card-container {
    padding: 0.7rem 1rem 1rem;
    text-transform: none;
}

.card-container h3,
p {
    margin: auto;
}

.card-img img {
    border-radius: .3rem .3rem 0 0;
    width: 100%;
}

/* About page */
.about {
    margin: 18vh 0 0 5vw;
}

.about p {
    font-size: 1.4rem;
    font-weight: 500;
}

@media screen and (min-width: 800px) {
    h1 {
        font-size: 6vw;
    }

    .about p {
        font-size: 2.5vw;
        font-weight: 500;
    }
}

/* Rotating text animation */
.rotatingText-adjective {
    font-family: 'Josefin Slab', serif;
    font-weight: 700;
    position: absolute;
    padding-left: 0.35em;
    color: #ffffff;
    opacity: 0;
    font-size: 1em;
}

.rotatingText-adjective:nth-of-type(1) {
    animation-name: rotate;
    animation-duration: 1.5s;
    animation-delay: 0.5s;
}

.rotatingText-adjective:nth-of-type(2) {
    animation-name: rotate;
    animation-duration: 1.5s;
    animation-delay: 1.75s;
}

.rotatingText-adjective:nth-of-type(3) {
    animation-name: rotate-last;
    animation-duration: 1.5s;
    animation-delay: 3s;
    animation-fill-mode: forwards;
}

@keyframes rotate {
    0% {
        opacity: 0;
        transform: translate3d(0, 2rem, 0);
    }

    20%,
    80% {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }

    100% {
        opacity: 0;
        transform: translate3d(0, -1rem, 0);
    }
}

@keyframes rotate-last {
    0% {
        opacity: 0;
        transform: translate3d(0, 2rem, 0);
    }

    50%,
    100% {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}
